<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAV0FtTGOejlNv7y4aBNcy74pXrSn-e3ls</string>
	<key>GCM_SENDER_ID</key>
	<string>15800466130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yorch.stockflow</string>
	<key>PROJECT_ID</key>
	<string>stockflow-21586</string>
	<key>STORAGE_BUCKET</key>
	<string>stockflow-21586.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15800466130:ios:c25a649e6a266ec151cb0b</string>
</dict>
</plist>